SetEnv APPLICATION_ENV development
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d 
RewriteCond %{REQUEST_FILENAME} \.(jpeg|jpg|png|gif|js|css|html|ico|swf|xml|zip|rar|gz|7z|biz|pdf|doc|txt|sql|xls|exe|mp3|woff|ttf|svg|eot|docx)$
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]