.iconBox{width:25px; height:25px;background-image:url(../../../../core/static/Public/css/images/menu.gif);}
.indexIco{background-position:-62px -2px;}
.updateIco{background-position:-33px -450px;}
.article_allIco{background-position:-301px -130px;}
.article_writeIco{background-position:-1px -388px;}
.type_allIco{background-position:-32px -133px;}
.tag_allIco{background-position:-32px -1px;}
.file_baseIco{background-position:-1px -322px;}
.file_addIco{background-position:-32px -98px;}
.links_allIco{background-position:-33px -449px;}
.link_typesIco{background-position:-32px -132px;}
