/* jqueryEasyValidate: default */

/* Forms */
.form-item {
	display: inline-block;
	margin: 0 0 2% 0;
	width: 100%;
}

label {
	color: #999;
	display: block;
	font: 16px Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 150%;
}

/*input, 
textarea, 
select {
	border: 1px solid #ccc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font: 16px Arial, Helvetica, sans-serif;
	color: #666;
	outline: none;
	padding: 10px;
	width: 100%;
}*/

.form-radio input, 
.form-checkbox input {
	float: left;
	margin: 5px;
	width: auto;
}

.form-radio label, 
.form-checkbox label {
	color: #666;
	font-style: normal;
}

input.form-error, 
textarea.form-error, 
select.form-error {
	border: 1px solid #dd4b39;
}

textarea {
	height: 100px;
}

.description {
	border-bottom: 1px solid #ccc;
	color: #999;
	font: 16px Arial, Helvetica, sans-serif;
	font-style: italic;
	margin: 0 0 5px 0;
	padding: 5px 0;
}

.formError{width:0;height:0; position: relative; float:right;}

/* Notifications */
.formErrorContent {
	background: #da4141;
	color: #fff;
	font: 12px Microsoft Yahei, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
        position: absolute;
        width:150px;
        left:20px;
        border-radius: 5px;
        border:1px solid #f83737;
        
}
.formErrorContent .errorArrow{
    background:url(../images/error_arrow.png);
    width:6px;
    height:11px;
    position: absolute;
    left:-6px;
    top:50%;
    margin-top:-5px;
}

/* Ajax */
.ajaxError, 
.ajaxSuccess, 
.ajaxLoading {
	display: none;
	font-size: 16px;
	line-height: 18px;
	padding: 40px;
	z-index: 5000;
}
.ajaxError {
	background: #da4141;
	border: 10px solid #8d0a0a;
	color: #8d0a0a;
}
.ajaxSuccess {
	background: #abf321;
	border: 10px solid #628e0e;
	color: #628e0e;
}
.ajaxLoading {
	background: #fff url(../img/ajax-loader.gif) no-repeat 25% 50%;
	border: 10px solid #eee;
	color: #333;
	display: none;
}